:global(body) {
    background: #3C2883;
}

.header {
    lost-align: center;
    position:fixed;
    left:0px;
    top: 0px;
    height:60px;
    width:100%;
    background: deepskyblue;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background: #794DFF;
}